/*
* Styles Villanuevand.github.io
* My personal web site on Github.
*/

body {background-attachment: fixed;background-image:url('../img/bg.jpg');background-repeat:no-repeat;background-size:cover;font-family: 'Muli', sans-serif;}
